@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root 
{
    /* Color */
    --main-color: #293573;
    --primary-white: white;
    --warning-color: #E45151;
    --blue-success: #36ABFF;
    --black-color: #000000;
    --placeholder-color: #969696;
    --hover-sidebar: #404A7D;
    --active-sidebar: #4763F3;

    /* Poppins */
    --font: "Poppins", sans-serif;

    /* Poppins Title */
    --title-weight: 700;
    --title-size: 48px;
    --lh-64: 64px;

    /* Poppins Heading 1 */
    --h1-weight: 600;
    --h1-size: 36px;

    /* Poppins Heading 2 */
    --h2-weight: 500;
    --h2-size: 28px;

    /* Poppins Heading 3 */
    --h3-weight: 400;
    --h3-size: 24px;

    /* Poppins Paragraph */
    --prg-weight: 300;
    --prg-size: 18px;

    /* Poppins Paragraph Bold */
    --prg-weight: 600;
    --prg-size: 18px;
    
    /* Poppins Paragraph Medium */
    --prg-med-weight: 500;
    --prg-med-size: 18px;

    /* Poppins Bar */
    --bar-weight: 600;
    --bar-size: 16px;

    /* Poppins Table*/
    --table-weight: 400;
    --table-size: 13px;
}

*{
    font-family: var(--font);
}

h1
{
    color: var(--main-color);
    
    line-height: var(--lh-64);
    font-weight: var(--bar-weight);
    font-size: var(--bar-size);
}