/* Gunanya buat ngasih margin left ke content karena kita tau size dari sidebar nya static */
main {
    margin-left: 18.75rem;
}

.title {
    font-family: var(--font);
    color: var(--main-color);
    line-height: var(--lh-64);
    font-weight: var(--title-weight);
    font-size: var(--title-size);
    margin: 2.5rem 0 2.5rem 0;
}